/* 
MAIN HEADER
*/
.main_header{
    display: flex;
    flex-wrap: wrap;
    background: var(--mainThemeColor);
    justify-content: space-between;
    padding: 10px;
}
.main_header_logo{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}
.logo{
    flex-basis: 5%;
    z-index: 99;
}

/* MENU MOBILE */
.main_header_mobile{
    display: none;
    flex-wrap: nowrap;
    justify-content: start;
    flex-basis: 100%;
}
.main_header_mobile_menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.main_header_mobile_menu_li{
    margin: 0px 10px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer; 
}
.dropdown_mobile{
    display: none;
    flex-wrap: wrap;
    z-index: 2;
    background: var(--mainThemeColor);
    position: absolute;
    width: 100%;
    left: 0%;
    margin-top: 0%;
    flex-wrap: wrap;
    flex-basis: 10%;
}
.show .dropdown_mobile{
    display: flex;
}
.show{
    border-top: solid 2px chartreuse;
}
.menu_itens_mobile{
    display: flex;
    flex-wrap: wrap;
}
.menu_itens_mobile_cars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875em;
    margin-left: 10px;
    width: 100%;
}
.mobile_cars{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
}
.mobile_cars_dropdown{
    display: none;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.mobile_cars_dropdown span{
    display: flex;
    flex: wrap;
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    border-left: solid 3px #fff;
}
.mobile_cars_dropdown span p{
    text-align: center;
}
.show-mobile{
    display: flex;
}
/* MENU */
.main_header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-basis: 100%;
}
.main_header_nav_ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.main_header_nav_ul_li{
    margin: 0px 10px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
.main_header_nav_ul_li:hover{
    border-top: solid 2px chartreuse;
}

/* DROPDOWN  */

.dropdown{
    display: none;
    z-index: 2;
    background: var(--mainThemeColor);
    position: absolute;
    width: 100%;
    left: 0%;
    margin-top: 0%;
    flex-wrap: wrap;
}
.dropdown .mini_img{
    width: 50%;
}
#porsche:hover .dropdown,
#mclaren:hover .dropdown,
#lamborghini:hover .dropdown{
    display: flex; 
}
.menu_itens{
    margin-top: 10px;
}
.car_name{
    margin: 0 auto;
}
.menu_itens_cars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.875em;
    margin-left: 10px;
    max-width: 288px;
}
.menu_itens_cars:hover{
    background: chartreuse;
}
.menu_itens_cars_description{
    display: none;
    position: absolute;
    margin-left: 289px;
    margin-top: 183px;
    width: 900px;
}
.menu_itens_cars:hover .menu_itens_cars_description{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}


/* 
OTHER DESCRIPTION
*/
.other_description{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    min-width: 300px;
    margin-top: -132px;
    height: 349px;
    position: absolute;
    z-index: 99;
    background: #fff;
}
.other_description span{
    flex-basis: 90%;
    display: flex;
    margin-left: 5px;
    background: #fff;
    color: #000;
    padding: 5px 0;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: hidden;
  }
.other_description span:hover{
    color: chartreuse;
}
.other_description span:hover .car,
.other_description span:hover .cenario,
.other_description span:hover .about_car{
    display: flex;
}

/* OTHER DESCRIPTION: PORSCHE */

#other_description_porsche2{
    margin-top: -213px;
}
#other_description_porsche2 span:nth-child(2),
#other_description_porsche3 span:nth-child(2),
#other_description_porsche4 span:nth-child(2),
#other_description_porsche6 span:nth-child(2){
    margin-top: -120px;
}
#other_description_porsche3{
    margin-top: -295px;
}
#other_description_porsche4{
    margin-top: -376px;
}
#other_description_porsche5{
    margin-top: -457px;
}
#other_description_porsche6{
    margin-top: -538px;
}

/* OTHER DESCRIPTION: MCLAREN */
#other_description_mclaren2{
    margin-top: -213px;
}

#other_description_mclaren3 span:nth-child(3),
#other_description_mclaren3 span:nth-child(2){
    margin-top: -40px;
}

#other_description_mclaren3{
    margin-top: -295px;
}
#other_description_mclaren4{
    margin-top: -376px;
}
#other_description_mclaren5{
    margin-top: -457px;
}
#other_description_mclaren6{
    margin-top: -538px;
}
/* OTHER DESCRIPTION: LAMBORGHINI */
#other_description_lamborghini4 span:nth-child(2){
    margin-top: -120px;
}
#other_description_lamborghini5 span:nth-child(3),
#other_description_lamborghini5 span:nth-child(2){
    margin-top: -40px;
}

#other_description_lamborghini4{
    margin-top: -376px;
}
#other_description_lamborghini5{
    margin-top: -457px;
}


/* ABOUT CAR: Responsavel pelo espaçamento e formatação do about car */
.about_car{
    display: none;
    margin-top: 344px;
    margin-left: -15px;
    width: 600px;
    height: 121px;
    background: #fff;
    position: absolute;
    border-top: solid 8px var(--mainThemeColor);
    border-bottom: solid 8px var(--mainThemeColor);
    justify-content: space-around;
}
#about_carv{
    margin-top: 344px;
}
#about_car_panamerah{
    margin-top: 273px;
}
#about_car_720s,
#about_car_asterion{
    margin-top: 245px;
}
#about_car_765,
#about_car_estoque{
    margin-top: 140px;
}
#about_car_senna_gtr,
#about_car_f1,
#about_car_aven_s_r{
    margin-top: 257px;
}
#about_car_speedtail,
#about_car_p1,
#about_car_aven_svj{
    margin-top: 169px;
}
#about_car_senna,
#about_car_p1_gtr,
#about_car_aven_svj_r{
    margin-top: 82px;
}
#about_car2{
    margin-top: 274px;
}
#about_car2v{
    margin-top: 272px;
}
#about_car3{
    margin-top: 204px;
}
#about_car4{
    margin-top: 134px;
}
#about_car4v{
    margin-top: 135px;
}
#about_car5{
    margin-top: 65px;
}
.about_car_power{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    align-items: center;
}
.about_car_power span{
    flex-basis: 100%;
}
.about_car_power p{
    margin-top: -40px;
}
.about_car_acceleration{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    align-items: center;
}
.about_car_acceleration span{
    flex-basis: 100%;
}
.about_car_acceleration p{
    margin-top: -40px;
}

/* suport: Responsavel por permitir que o ultimo item do menu itens car tenha um other description que não desapareça recebendo seu hover */
.suport{
    width: 300px;
    height: 139px;
    position: absolute;
    margin-top: 349px;
}

.car_version{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    z-index: -2;
}

/* car: Adiciona a formatação na imagem do carro no other description */
.car{
    display: none;
    position: absolute;
    margin-left: 220px;
    margin-top: 130px;
    top: 0;
    z-index: 99;
}

/* cenario: Adiciona a formatação na imagem do cenario no other description */
.cenario{
    display: none;
    position: absolute;
    margin-right: 300px;
    width: 1000px;
    top: 0;
    z-index: -7;
}

/* 
//// MAIN HEADER
*/

/* Initial Parallax */
#parallax_img1{
    background-image: url(Assets/urus-background-2.jpg);
}
.main_parallax{
    display: none;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 21% 0%;
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
}
.main_parallax_header{
    max-width: 300px;
    color: #fff;
    font-size: 2.5em;
    margin-left: 20px;

}

/* MAIN */
.main{
    display: flex;
    flex-wrap: wrap;
}
/* CTA */
.main_cta{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main_cta_image{
    display: none;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.cta_image{
    width: 100%;
}

/* 
FEATURED 
*/

.main_featured{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    flex-basis: 100%;
    justify-content: space-around;
}
.main_featured_header{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    color: var(--mainThemeColor);
    font-size: 2.3em;
    justify-content: center;
}
.main_featured_article{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    margin-top: 40px;
    border-top: solid 7px var(--mainThemeColor);
    border-bottom: solid 7px #000;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 15px 0px;
}
.main_featured_article header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    font-size: 1.3em;
    justify-content: space-between;
}
.main_featured_article header img{
    flex-basis: 10%;
    width: 15%;
}
.main_featured_article_img{
    flex-basis: 100%;
}
.main_featured_article_img img{
    width: 100%;
}

/* 
SPEED
*/

.main_speed{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 20px 0;
    justify-content: space-around;
    border-right: solid 7px var(--mainThemeColor);
    margin: 20px 0;
}
.main_speed_header{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    color: var(--mainThemeColor);
    font-size: 2.3em;
    justify-content: center;
    margin-bottom: 40px;
}
.main_speed_img{
    flex-basis: 48%;
}
.main_speed_img img{
    width: 100%;
}
.main_speed_text{
    flex-basis: 48%;
}
.main_speed_text_header{
    font-size: 1.5em;
}
.main_speed_text p{
    text-align: justify;
    margin-top: 10px;
    font-size: 1.1em;
}

@media (min-width: 1px){
    /* NAVBAR MOBILE */
    .main_header_mobile{
        display: flex;
    }
    /* NAVBAR */
    .main_header_nav{
        display: none;
    }

    /* Initial Parallax */
    .main_parallax{
        display: none;
    }
    /* CTA */
    .main_cta_image{
        display: flex;
    }
    /* MAIN FEATURED ARTICLE */
    .main_featured_article{
        flex-basis: 75%;
    }
}

@media (min-width: 720px){
    /* MAIN FEATURED ARTICLE */
    .main_featured_article{
        flex-basis: 45%;
    }
}

@media (min-width: 1017px){
    /* NAVBAR MOBILE */
    .main_header_mobile{
        display: none;
    }
    /* NAVBAR */
    .main_header_nav{
        display: flex;
    }

    /* Initial Parallax */
    .main_parallax{
        display: flex;
    }
    /* CTA */
    .main_cta_image{
        display: none;
    }
    /* MAIN FEATURED ARTICLE */
    .main_featured_article{
        flex-basis: 30%;
    }
}





/* ORIGINAL */

/* .other_description{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin-top: 100px;
    height: 349px;
    position: absolute;
    z-index: 3;
    background: #000;
}
.other_description span{
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}
.other_description span:hover{
    background: chartreuse;
} */


/* .car{
    z-index: 4;
    flex-basis: 50%;
    margin-left: 200px;
    margin-top: 200px;
}
.car2{
    display: none;
    z-index: 5;
    flex-basis: 50%;
    margin-left: 200px;
    margin-top: 200px;
}
.cenario{
    position: absolute;
    height: 300px;
    margin-top: 100px;
    flex-basis: 100%;
    width: 100%;
    z-index: 2;
} */

